In [1]:
#Import Dependencies
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.types import String

### Extract CSVs into DataFrames

In [2]:
#Loading CSV files
colleges = "Resources/Colleges_and_Universities.csv"
merged_file = "Resources/MERGED2017_18_PP.csv"

In [3]:
#CSV to DataFrame
colleges_df = pd.read_csv(colleges)
colleges_df.head()

,X,Y,OBJECTID,IPEDSID,NAME,ADDRESS,CITY,STATE,ZIP,ZIP4,...,ALIAS,SIZE_SET,INST_SIZE,PT_ENROLL,FT_ENROLL,TOT_ENROLL,HOUSING,DORM_CAP,TOT_EMP,SHELTER_ID
0,-115.210504,36.158505,7001,181880,ACADEMY OF HAIR DESIGN-LAS VEGAS,"5191 W. CHARLESTON, #150",LAS VEGAS,NV,89146,NOT AVAILABLE,...,NOT AVAILABLE,-2,1,-999,239,239,2,-999,23,NOT AVAILABLE
1,-115.046158,36.037585,7002,182148,ALTIERUS CAREER COLLEGE-HENDERSON,170 NORTH STEPHAINE SUITE 145,HENDERSON,NV,89074,8811,...,NOT AVAILABLE,2,1,100,172,272,2,-999,26,NOT AVAILABLE
2,-75.909212,42.135320,7003,189547,SUNY BROOME COMMUNITY COLLEGE,907 UPPER FRONT ST,BINGHAMTON,NY,13905,NOT AVAILABLE,...,NOT AVAILABLE,3,3,1549,4075,5624,1,360,819,NOT AVAILABLE
3,-78.180099,42.997351,7004,190309,CONTINENTAL SCHOOL OF BEAUTY CULTURE-BATAVIA,215 E. MAIN ST,BATAVIA,NY,14020,NOT AVAILABLE,...,NOT AVAILABLE,-2,1,-999,26,26,2,-999,3,NOT AVAILABLE
4,-77.073708,42.117240,7005,190442,CORNING COMMUNITY COLLEGE,1 ACADEMIC DR,CORNING,NY,14830,NOT AVAILABLE,...,NOT AVAILABLE,3,2,1997,1837,3834,1,270,384,NOT AVAILABLE

In [4]:
#CSV to DataFrame
merged_data = pd.read_csv(merged_file, low_memory=False)
merged_data.head()

,UNITID,OPEID,OPEID6,INSTNM,CITY,STABBR,ZIP,ACCREDAGENCY,INSTURL,NPCURL,...,OMAWDP8_NOTFIRSTTIME_POOLED_SUPP,OMENRUP_NOTFIRSTTIME_POOLED_SUPP,OMENRYP_FULLTIME_POOLED_SUPP,OMENRAP_FULLTIME_POOLED_SUPP,OMAWDP8_FULLTIME_POOLED_SUPP,OMENRUP_FULLTIME_POOLED_SUPP,OMENRYP_PARTTIME_POOLED_SUPP,OMENRAP_PARTTIME_POOLED_SUPP,OMAWDP8_PARTTIME_POOLED_SUPP,OMENRUP_PARTTIME_POOLED_SUPP
0,100654,100200,1002,Alabama A & M University,Normal,AL,35762,Southern Association of Colleges and Schools C...,www.aamu.edu/,https://galileo.aamu.edu/NetPriceCalculator/np...,...,0.4048,0.2645,0.0137,0.315,0.3755,0.2958,0.0289,0.4224,0.2635,0.2852
1,100663,105200,1052,University of Alabama at Birmingham,Birmingham,AL,35294-0110,Southern Association of Colleges and Schools C...,www.uab.edu,uab.studentaidcalculator.com/survey.aspx,...,0.5448,0.12,0.0728,0.2583,0.5872,0.0817,0.1398,0.2618,0.3977,0.2008
2,100690,2503400,25034,Amridge University,Montgomery,AL,36117-3553,Southern Association of Colleges and Schools C...,www.amridgeuniversity.edu,www2.amridgeuniversity.edu:9091/,...,0.4647,0.1912,0.0148,0.3284,0.4391,0.2177,0.028,0.3645,0.4486,0.1589
3,100706,105500,1055,University of Alabama in Huntsville,Huntsville,AL,35899,Southern Association of Colleges and Schools C...,www.uah.edu,finaid.uah.edu/,...,0.5121,0.1593,0.0165,0.323,0.5361,0.1243,0.0245,0.3947,0.3476,0.2331
4,100724,100500,1005,Alabama State University,Montgomery,AL,36104-0271,Southern Association of Colleges and Schools C...,www.alasu.edu,www.alasu.edu/cost-aid/forms/calculator/index....,...,0.4226,0.0754,0.0254,0.5327,0.3133,0.1286,0.021,0.5804,0.1678,0.2308

In [5]:
#Pulling the names of columns to select for a new data frame
colleges_df.columns.tolist()

['X',
 'Y',
 'OBJECTID',
 'IPEDSID',
 'NAME',
 'ADDRESS',
 'CITY',
 'STATE',
 'ZIP',
 'ZIP4',
 'TELEPHONE',
 'TYPE',
 'STATUS',
 'POPULATION',
 'COUNTY',
 'COUNTYFIPS',
 'COUNTRY',
 'LATITUDE',
 'LONGITUDE',
 'NAICS_CODE',
 'NAICS_DESC',
 'SOURCE',
 'SOURCEDATE',
 'VAL_METHOD',
 'VAL_DATE',
 'WEBSITE',
 'STFIPS',
 'COFIPS',
 'SECTOR',
 'LEVEL_',
 'HI_OFFER',
 'DEG_GRANT',
 'LOCALE',
 'CLOSE_DATE',
 'MERGE_ID',
 'ALIAS',
 'SIZE_SET',
 'INST_SIZE',
 'PT_ENROLL',
 'FT_ENROLL',
 'TOT_ENROLL',
 'HOUSING',
 'DORM_CAP',
 'TOT_EMP',
 'SHELTER_ID']

In [6]:
# Creating a filtered dataframe from specific columns
colleges_cols = ["IPEDSID", "NAME", "ADDRESS","CITY","STATE","ZIP","TELEPHONE","WEBSITE","TYPE","STATUS","POPULATION","LATITUDE","LONGITUDE"]
colleges_transformed= colleges_df[colleges_cols].copy()

In [7]:
colleges_transformed.head()

,IPEDSID,NAME,ADDRESS,CITY,STATE,ZIP,TELEPHONE,WEBSITE,TYPE,STATUS,POPULATION,LATITUDE,LONGITUDE
0,181880,ACADEMY OF HAIR DESIGN-LAS VEGAS,"5191 W. CHARLESTON, #150",LAS VEGAS,NV,89146,(702) 878-1185 EXT 21,www.ahdvegas.com/,3,A,262,36.158505,-115.210504
1,182148,ALTIERUS CAREER COLLEGE-HENDERSON,170 NORTH STEPHAINE SUITE 145,HENDERSON,NV,89074,(702) 567-1920,https://www.altierus.org/campus/henderson,2,A,298,36.037585,-115.046158
2,189547,SUNY BROOME COMMUNITY COLLEGE,907 UPPER FRONT ST,BINGHAMTON,NY,13905,(607) 778-5000,WWW.SUNYBROOME.EDU,1,A,6443,42.135320,-75.909212
3,190309,CONTINENTAL SCHOOL OF BEAUTY CULTURE-BATAVIA,215 E. MAIN ST,BATAVIA,NY,14020,(585) 344-0886,www.continentalschoolofbeauty.edu,3,A,29,42.997351,-78.180099
4,190442,CORNING COMMUNITY COLLEGE,1 ACADEMIC DR,CORNING,NY,14830,(607) 962-9011,https://www.corning-cc.edu/,1,A,4218,42.117240,-77.073708

In [8]:
#Renaming comumns headings to load into pgAdmin
student_choice_new  = colleges_transformed.rename(columns={"IPEDSID": "ipedsid",
                                                          "NAME": "name",
                                                          "ADDRESS": "address",
                                                          "CITY": "city",
                                                          "STATE": "state",
                                                          "ZIP": "zip",
                                                          "TELEPHONE": "telephone",
                                                          "WEBSITE": "website",
                                                          "TYPE": "type",
                                                          "STATUS": "status",
                                                          "POPULATION": "population",
                                                          "LATITUDE": "latitude",
                                                          "LONGITUDE": "longitude"
                                                })
student_choice_new.head()

,ipedsid,name,address,city,state,zip,telephone,website,type,status,population,latitude,longitude
0,181880,ACADEMY OF HAIR DESIGN-LAS VEGAS,"5191 W. CHARLESTON, #150",LAS VEGAS,NV,89146,(702) 878-1185 EXT 21,www.ahdvegas.com/,3,A,262,36.158505,-115.210504
1,182148,ALTIERUS CAREER COLLEGE-HENDERSON,170 NORTH STEPHAINE SUITE 145,HENDERSON,NV,89074,(702) 567-1920,https://www.altierus.org/campus/henderson,2,A,298,36.037585,-115.046158
2,189547,SUNY BROOME COMMUNITY COLLEGE,907 UPPER FRONT ST,BINGHAMTON,NY,13905,(607) 778-5000,WWW.SUNYBROOME.EDU,1,A,6443,42.135320,-75.909212
3,190309,CONTINENTAL SCHOOL OF BEAUTY CULTURE-BATAVIA,215 E. MAIN ST,BATAVIA,NY,14020,(585) 344-0886,www.continentalschoolofbeauty.edu,3,A,29,42.997351,-78.180099
4,190442,CORNING COMMUNITY COLLEGE,1 ACADEMIC DR,CORNING,NY,14830,(607) 962-9011,https://www.corning-cc.edu/,1,A,4218,42.117240,-77.073708

In [9]:
#Cleaning dataframe: dropping dublicates in index/future primery key column
student_choice_new.drop_duplicates("ipedsid", inplace=True)
#Resetting index to ipedsid
student_choice_new.set_index("ipedsid", inplace=True)
#Dropping N/A
student_choice=student_choice_new.dropna()
student_choice.head()

,name,address,city,state,zip,telephone,website,type,status,population,latitude,longitude
ipedsid,,,,,,,,,,,,
181880,ACADEMY OF HAIR DESIGN-LAS VEGAS,"5191 W. CHARLESTON, #150",LAS VEGAS,NV,89146,(702) 878-1185 EXT 21,www.ahdvegas.com/,3,A,262,36.158505,-115.210504
182148,ALTIERUS CAREER COLLEGE-HENDERSON,170 NORTH STEPHAINE SUITE 145,HENDERSON,NV,89074,(702) 567-1920,https://www.altierus.org/campus/henderson,2,A,298,36.037585,-115.046158
189547,SUNY BROOME COMMUNITY COLLEGE,907 UPPER FRONT ST,BINGHAMTON,NY,13905,(607) 778-5000,WWW.SUNYBROOME.EDU,1,A,6443,42.135320,-75.909212
190309,CONTINENTAL SCHOOL OF BEAUTY CULTURE-BATAVIA,215 E. MAIN ST,BATAVIA,NY,14020,(585) 344-0886,www.continentalschoolofbeauty.edu,3,A,29,42.997351,-78.180099
190442,CORNING COMMUNITY COLLEGE,1 ACADEMIC DR,CORNING,NY,14830,(607) 962-9011,https://www.corning-cc.edu/,1,A,4218,42.117240,-77.073708

### Transform Second DataFrame

In [10]:
## Creating a filtered dataframe from specific columns
merged_admin_col =["UNITID","ADM_RATE","ACTCMMID","SAT_AVG","TUITIONFEE_IN",'TUITIONFEE_OUT']
#Making a copy of the new data set
merged_admin_1 = merged_data[merged_admin_col].copy()
#Renaiming heading of the column wich will be set to index
merged_admin = merged_admin_1.rename(columns={ "UNITID": "ipedsid"})
#Cleaning dataframe: dropping dublicates in index/future primery key column
merged_admin.drop_duplicates("ipedsid", inplace=True)
merged_admin.set_index("ipedsid", inplace=True)
merged_admin_clean=merged_admin.dropna()
merged_admin_clean.head()

         ADM_RATE  ACTCMMID  SAT_AVG  TUITIONFEE_IN  TUITIONFEE_OUT
ipedsid
100654     0.9027      18.0    929.0         9857.0         18236.0
100663     0.9181      25.0   1195.0         8328.0         19032.0
100706     0.8123      28.0   1322.0        10280.0         21480.0
100724     0.9787      18.0    935.0        11068.0         19396.0
100751     0.5330      28.0   1278.0        10780.0         28100.0

In [11]:
#Renaming comumns headings to load into pgAdmin
college_choice = merged_admin_clean.rename(columns={ "ADM_RATE": "adm_rate",
                                                          "ACTCMMID": "actcmmid",
                                                          "SAT_AVG": "sat_avg",
                                                          "TUITIONFEE_IN": "tuitionfee_in",
                                                          "TUITIONFEE_OUT": "tuitionfee_out"
                                                    })
college_choice.head()

         adm_rate  actcmmid  sat_avg  tuitionfee_in  tuitionfee_out
ipedsid
100654     0.9027      18.0    929.0         9857.0         18236.0
100663     0.9181      25.0   1195.0         8328.0         19032.0
100706     0.8123      28.0   1322.0        10280.0         21480.0
100724     0.9787      18.0    935.0        11068.0         19396.0
100751     0.5330      28.0   1278.0        10780.0         28100.0

In [12]:
college_choice.dtypes

adm_rate          float64
actcmmid          float64
sat_avg           float64
tuitionfee_in     float64
tuitionfee_out    float64
dtype: object

In [13]:
student_choice.dtypes

name           object
address        object
city           object
state          object
zip             int64
telephone      object
website        object
type            int64
status         object
population      int64
latitude      float64
longitude     float64
dtype: object

### Create database connection

In [14]:
connection_string = "postgres:postgres@localhost:5432/college_db"
engine = create_engine(f'postgresql://{connection_string}')

In [15]:
# Confirm tables 
engine.table_names()

['student_choice', 'college_choice']

### Load DataFrames into database

In [ ]:
#Loading first data frame into pgAdmin database
student_choice.to_sql(name='student_choice', con=engine, if_exists='append', index=True)

In [ ]:
#Loading second data frame into pgAdmin database
college_choice.to_sql(name='college_choice', con=engine, if_exists='append', index=True)

In [16]:
#Confirming data has been added by querying the student_choice table
pd.read_sql_query('select * from student_choice', con=engine).head()

,ipedsid,name,address,city,state,zip,telephone,website,type,status,population,latitude,longitude
0,181880,ACADEMY OF HAIR DESIGN-LAS VEGAS,"5191 W. CHARLESTON, #150",LAS VEGAS,NV,89146,(702) 878-1185 EXT 21,www.ahdvegas.com/,3,A,262,36.158505,-115.210504
1,182148,ALTIERUS CAREER COLLEGE-HENDERSON,170 NORTH STEPHAINE SUITE 145,HENDERSON,NV,89074,(702) 567-1920,https://www.altierus.org/campus/henderson,2,A,298,36.037585,-115.046158
2,189547,SUNY BROOME COMMUNITY COLLEGE,907 UPPER FRONT ST,BINGHAMTON,NY,13905,(607) 778-5000,WWW.SUNYBROOME.EDU,1,A,6443,42.135320,-75.909212
3,190309,CONTINENTAL SCHOOL OF BEAUTY CULTURE-BATAVIA,215 E. MAIN ST,BATAVIA,NY,14020,(585) 344-0886,www.continentalschoolofbeauty.edu,3,A,29,42.997351,-78.180099
4,190442,CORNING COMMUNITY COLLEGE,1 ACADEMIC DR,CORNING,NY,14830,(607) 962-9011,https://www.corning-cc.edu/,1,A,4218,42.117240,-77.073708

In [17]:
#Confirming data has been added by querying the college_choice table
pd.read_sql_query('select * from college_choice', con=engine).head()

   ipedsid  adm_rate  actcmmid  sat_avg  tuitionfee_in  tuitionfee_out
0   100654    0.9027      18.0    929.0         9857.0         18236.0
1   100663    0.9181      25.0   1195.0         8328.0         19032.0
2   100706    0.8123      28.0   1322.0        10280.0         21480.0
3   100724    0.9787      18.0    935.0        11068.0         19396.0
4   100751    0.5330      28.0   1278.0        10780.0         28100.0